/* CSS 리셋 */
html, body, header, footer, section, article, div, h1, h2, p, button, input, ul, li {
    margin: 0;
    padding: 0;
}

/* 기본 태그 */
html, body {
    height: 100%;
}
body {
    color: #000;
    font: 14px/1.25 "Apple SD Gothic Neo", NanumBarunGothic, NanumGothic, sans-serif;
}
a, button, label {
    cursor: pointer;
}
a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}
button {
    background: transparent;
    border: 0;
}
ul {
    list-style: none;
}

/* 화면 */
.screen {
    min-height: 100%;
    position: absolute;
    width: 100%;
}
header {
    background: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    height: 50px;
    line-height: 50px;
}
header h1 {
    font-size: 18px;
    text-align: center;
}
header button {
    height: 50px;
    line-height: 50px;
}
#source {
    display: none;
}

/* 홈 */
#home {
    left: 0;
    top: 0;
    z-index: 2;
}
#home [data-action=settings] {
    background: url(settings.png) no-repeat 50% 50%;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

/* 대치어 단락 */
article {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    padding: 15px;
    position: relative;
}
article:hover {
    background: #e5e5e5;
    transition: background .5s;
}
article h1 {
    font-size: 18px;
}
article h2 {
    color: #0b6db7;
    font-size: 16px;
}
article h2 span {
    color: #ccc;
    margin: 0 .25em;
}

/* 대치어 */
.answer {
    margin-top: 10px;
}
.answer label {
    background: #fff;
    border: 1px solid #2087fc;
    border-left: 0;
    color: #2087fc;
    display: inline-block;
    padding: 10px;
    transition: background .5s;
}
.answer label:first-of-type {
    border-bottom-left-radius: 5px;
    border-left: 1px solid #2087fc;
    border-top-left-radius: 5px;
}
.answer label:last-of-type {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.answer input[type=radio] {
    display: none;
    transition: background-color 1s;
}
.answer input[type=radio]:checked + label {
    background: #2087fc;
    color: #e0eaf5;
}
.answer label:hover {
    background: #dde9f5;
}

/* 대치어 감추기 버튼 */
article button {
    border-radius: 5px;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
article:hover button {
    display: block;
}
article button b {
    display: inline-block;
    font-family: "Apple SD Gothic Neo";
    font-size: 20px;
    font-weight: normal;
    margin-right: 5px;
    vertical-align: middle;
}
[data-action=forget] {
    background: #fd3c31;
}
[data-action=restore] {
    background: #46ca5e;
}

/* 대치어 필드 */
[data-ignore-non-korean=true] [data-korean=false] {
    display: none;
}
[data-show-description=false] article .description {
    display: none;
}
[data-show-hidden=false] [data-hidden=true] {
    display: none;
}

/* 설정 */
#settings {
    background: #e5e5e5;
    right: -1000px;
    transition: right .5s;
    z-index: 2;
}
[data-screen-id=settings] #settings {
    right: 0;
}
#settings ul {
    background: #fff;
    margin-top: 40px;
}
#settings li {
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
    position: relative;
}
#settings label {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
#settings [type=checkbox] {
    position: absolute;
    right: 20px;
    top: 6px;
}
#settings [data-action=home] {
    color: #08c;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 0;
}
#settings p {
    font-size: 12px;
    /*line-height: 2em;*/
    /*margin-top: 10px;*/
    padding: 10px 20px;
}
#settings p:first-of-type {
    margin-top: 20px;
}

/* 결과 값 저장 */
#result {
    display: none;
}

p.error, p.passed {
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
}
    p.error {
        background-image: url(error.png);
    }
    p.passed {
        background-image: url(passed.png);
    }
footer {
    background: #494949;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* iOS 스타일 체크박스 */
input[type=checkbox] {
    border: 1px solid #d3d3d3;
    border-radius: 26px;
    box-shadow: inset 0 0 0 1px #d3d3d3;
    cursor: pointer;
    height: 28px;
    position: relative;
    transition: border .25s .15s,
                box-shadow .25s .3s,
                padding .25s;
    width: 44px;
    -webkit-appearance: none;
}
input[type=checkbox]:after {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
    box-shadow: inset 0 -3px 3px hsla(0, 0%, 0%, .025),
                0 1px 4px hsla(0, 0%, 0%, .15),
                0 4px 4px hsla(0, 0%, 0%, .1);
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
    transition: border .25s .15s,
                left .25s .1s,
                right .15s .175s;
}
input[type=checkbox]:checked {
    border-color: #53d76a;
    box-shadow: inset 0 0 0 13px #53d76a;
    padding-left: 18px;
    transition: border .25s,
                box-shadow .25s,
                padding .25s .15s;
}
input[type=checkbox]:checked:after {
  border-color: #53d76a;
  left: 16px;
  right: 0;
  transition: border .25s,
              left .15s .25s,
              right .25s .175s;
}
