html, body, header, footer, section, article, h1, h2, p, button, input {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font: 14px/1.5 NanumBarunGothic, "Apple SD Gothic Neo", NanumGothic, sans-serif;
}

a, button, label {
    cursor: pointer;
}
button {
    border: 0;
}

header {
    height: 50px;
    line-height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header a {
    display: block;
    text-align: center;
}

#settings {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
}
#settings.active {
    display: block;
}
#toggle-settings {
    background: url(settings.png) no-repeat 50% 50%;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}
section {
    bottom: 30px;
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
}
h1, h2 {
    /*font-family: "HCR Dotum", SeoulNamsan, "Apple SD Gothic Neo", NanumGothic, sans-serif;*/
}
article {
    background-image: -webkit-linear-gradient(top, #eee 0, #fff 10px);
    padding: 1em;
}
    article h1 {
        color: #b82647;
        font-size: 1.5em;
    }
    article h2 {
        color: #0b6db7;
        font-size: 1.5em
    }
        article h2 span {
            color: #ccc;
            margin: 0 .25em;
        }

[data-show-description=false] article .description {
    display: none;
}
p.error, p.passed {
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
}
    p.error {
        background-image: url(error.png);
    }
    p.passed {
        background-image: url(passed.png);
    }
footer {
    background: #494949;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font: 12px "Apple SD Gothic Neo", NanumGothic, sans-serif;
    height: 30px;
    line-height: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
}
#source {
    display: none;
}
